@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Poppins:wght@100;200;300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, Poppins;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-weight: 900;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
}
.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

#panel1 {
  background-image: url("../images/job1.jpg");
}
#panel2 {
  background-image: url("../images/job2.jpg");
}
#panel3 {
  background-image: url("../images/job3.jpg");
}
#panel4 {
  background-image: url("../images/job4.jpg");
}
#panel5 {
  background-image: url("../images/job5.jpg");
}

.panel h1 {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-weight: 900;
  text-shadow: 2px 2px #000;
}

.panel.active {
  flex: 5;
}

.panel.active h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
    transition: opacity 0.3s ease-in 0.4s;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.descriptions {
  width: 50%;
  background-color: #827fcb3f;
  min-height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-color: #0026ff;
  column-count: 2;
  column-gap: 40px;
}

.column {
  width: 50%;
  background-color: #827fcb3f;
  min-height: fit-content;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: 50%;
  flex-direction: column;
  align-items: center;
  font-size: large;
  color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 4px;
  border-color: #0026ff;
}

.row {
  display: flex;
}

/*---------BASIC Info Slide--------------*/
.basicInfoPage {
  min-height: 100vh;
  width: 85%;
  padding: 3rem 0;
  margin-left: auto;
  margin-right: auto;
}

.basicInfoBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1c768f;
  height: 81vh;
}

.basicInfo {
  width: 40%;
}

.basicInfo h1 {
  padding-bottom: 8px;
  font-size: 30px;
  color: #fa991c;
}
.basicInfo p {
  font-size: 20px;
  color: #fff;
}

.BasicInfoImg {
  margin-bottom: auto;
  width: 40%;
}

.BasicInfoImg img {
  width: 117%;
  height: 81vh;
}

/*---------Detailed Info Slide--------------*/
.detailedInfoPage {
  min-height: 100vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
}

.detailedInfoBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1c768f;
  height: 81vh;
}

.detailedInfo {
  width: 45%;
  padding-left: 6rem;
  margin: auto;
}
.detailedInfo h1 {
  padding-bottom: 8px;
  font-size: 30px;
  color: #fa991c;
}
.detailedInfo p {
  font-size: 20px;
  color: #fff;
}

.detailedInfoImg {
  width: 40%;
  margin-bottom: auto;
}

.detailedInfoImg img {
  width: 130%;
  height: 81vh;
}

.basic-btn-hm,
.detailed-btn-hm {
  background-color: #fa991c;
  margin: 1rem 0;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #000;
  transition: padding 0.1s ease-in;
  font-size: 15px;
}

.basic-btn-hm:hover,
.detailed-btn-hm:hover {
  color: #fff;
}
