.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #1c768f;
}

.home-btn {
  background-color: #fa991c;
  margin: 0 1rem;
  border: none;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #fff;
}
